@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
/* Fade in animation */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards; /* Animation applied */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes easeinY {
  from {
    opacity: 0;
    transform: translateY(100%) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}
.animate-ease-in-y {
  animation: easeinY 300ms ease-in-out;
}

.level-1 {
  font-weight: 500;
  font-size: 18px;
}

.level-2 {
  margin-top: 6px;
  background-color: #dfebf680;
  padding: 8px;
  border-radius: 5px;
  gap: 24px;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.level-3 {
  margin-top: 6px;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  padding: 0.5rem;
  border-radius: 16px;
  gap: 8px;
}
.level-4 {
  margin-top: 6px;
  background-color: #F7F8FB;
  padding: 10px;
  /* font-size: 12px;
  font-weight: 500; */
  line-height: 11px;
  border-radius: 16px;
  gap: 8px;
}

/* .has-children {
  color: black;
}

.selected {
  background-color: lightgray;
} */
